@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

$mainColor: #22232c;
$textColor: #c1c2c5;
$mainFont: 'Saira', sans-serif;

$primaryColor: 'red-500';

$secondaryColor: rgba(12, 12, 12, 0.4);
$secondaryColorHighlight: #33343F;
$secondaryColorLight: rgba(0, 0, 0, 0.5);
$secondaryColorDark: rgba(12, 12, 12, 0.8);

$gridCols: 5;
$gridRows: 5;
$gridSize: 11.5vh;
$gridGap: 2px;
$containerSize: calc(#{$gridRows} * #{$gridSize + 0.22vh} + #{$gridRows} * #{$gridGap});

body {
  @apply m-0 h-screen bg-none overflow-hidden #{!important};

  font-family: Saira, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}

#root {
  @apply h-full;
  --primaryColor: 22, 163, 74; /* Define como RGB */
}

code {
  font-family: Saira, source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

::-webkit-scrollbar {
  @apply hidden;
}

p {
  @apply m-0 p-0;

  font-family: $mainFont;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.app-wrapper {
  @apply h-full w-full text-white;
}

.context-menu-list {
  @apply bg-dark/90 border border-zinc-800 p-2 outline-none flex flex-col rounded-md;

  min-width: 130px;
  color: $textColor;
  font-size: 0.9rem;
}

.context-menu-item  {
  @apply px-4 py-2 rounded-md bg-transparent outline-none flex justify-between items-center transition-colors duration-150;
  color: $textColor;

  &:active {
    transform: none;
  }

  &:hover {
    @apply cursor-pointer bg-white/5 text-gray-300;
  }
}

.tooltip-description {
  @apply pt-1;
}

.tooltip-markdown > p {
  @apply m-0;
}

button:active {
  transform: translateY(3px);
}

.item-drag-preview {
  width: 7.7vh;
  height: 7.7vh;
  z-index: 1;
  position: fixed;
  pointer-events: none;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 7vh;
  image-rendering: -webkit-optimize-contrast;
}

.inventory-wrapper {
  @apply grid grid-cols-7 gap-5 items-center justify-center h-full mx-0;

  @screen lg {
    @apply mx-8;
  }

  @screen k {
    @apply mx-48;
  }

  @screen 4k {
    @apply mx-80;
  }
}

.inventory-control {
  @apply mt-14 rounded flex;
  height: $containerSize;
}

.useful-controls-dialog {
  background-color: $mainColor;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $textColor;
  width: 450px;
  display: flex;
  flex-direction: column;
  padding: 16px;
  border-radius: 4px;
  gap: 16px;
}

.useful-controls-dialog-overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

.useful-controls-dialog-title {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}

.useful-controls-dialog-close {
  width: 25px;
  height: 25px;
  padding: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  fill: $textColor;
  &:hover {
    background-color: $secondaryColorHighlight;
    cursor: pointer;
  }
}

.useful-controls-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.12);
}

.useful-controls-button {
  position: absolute !important;
  bottom: 25px;
  right: 25px;
  transition: 200ms !important;
  border: none;
  color: rgb(255, 255, 255);
  width: 52px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: white;
  border-radius: 5% !important;
  background-color: $secondaryColor !important;
  &:hover {
    background-color: $secondaryColorDark !important;
    cursor: pointer;
  }
}

.useful-controls-exit-button {
  position: absolute !important;
  right: 8px;
  top: 8px;
  border-radius: 2.5% !important;
  color: grey !important;
}

// Dialog is used fro useful controls window


// inventory grids
.inventory-grid-wrapper {
  display: flex;
  flex-direction: column;
  gap: calc($gridGap * 4);
}
.inventory-grid-header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  p {
    font-size: 16px;
  }
}

.inventory-grid-container {
  @apply grid grid-cols-5 gap-1;

  height: $containerSize;
  grid-auto-rows: $gridSize + 1.22vh;
  overflow-y: scroll;
}

// inventory slots
.inventory-slot {
  @apply bg-dark bg-opacity-50 rounded border border-transparent transition-colors duration-150;

  &:hover {
    @apply bg-opacity-40 border-gray-400/20;
  }

  background-repeat: no-repeat;
  background-position: center;
  image-rendering: -webkit-optimize-contrast;
  position: relative;
  background-size: 6.5vh;
  color: $textColor;
}

.inventory-slot--empty {
  @apply bg-opacity-5;

  &:hover {
    @apply border-gray-300/10;
  }
}

.inventory-slot-label-box {
  @apply inline-flex max-w-full bg-dark/0 bg-opacity-50 px-2 py-1 rounded-md;

  color: $textColor;
}

.inventory-slot-label-text {
  @apply capitalize text-gray-50;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;

  font-weight: 400;
  font-family: $mainFont;
  font-size: 14px;
  line-height: 11px;

  @screen 2k {
    @apply text-sm;
  }

  @screen 4k {
    @apply text-xl;
  }
}
.hotbar-slot-number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 3.5rem;
  color: rgba(209, 213, 219, 0.2); /* Valor equivalente a text-gray-50/20 */
  pointer-events: none; /* Para garantir que a numeração não bloqueie interações com a imagem */
}




.inventory-slot-number {
  @apply h-5 px-1.5 inline-flex items-center justify-center rounded-md text-xs text-gray-50;

  @screen 2k {
    @apply text-sm;
  }

  @screen 4k {
    @apply text-xl h-8 px-2.5;
  }

  font-family: $mainFont;
}

.inventory-weight {
  @apply h-3 px-0.5 inline-flex items-center justify-center rounded-sm text-xs text-gray-50;

  @screen 2k {
    @apply text-sm;
  }

  @screen 4k {
    @apply text-xl h-8 px-2.5;
  }

  font-family: $mainFont;

  &--amount {
    // @apply $primaryColor;
    background-color: $primaryColor;
  }

  &--money {
    // @apply $primaryColor;
    background-color: $primaryColor;
  }
}

.inventory-background {
  @apply absolute h-screen w-full top-0 left-0;
  background: linear-gradient(to left, rgba(var(--primaryColor), 1), rgba(0, 0, 0, 0.3));
}

.item-slot-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  p {
    font-size: 12px;

    @screen 4k {
      @apply text-2xl;
    }
  }
}

.item-slot-header-wrapper {
  @apply flex flex-row justify-end;
}

.item-hotslot-header-wrapper {
  @apply pl-1 py-1;

  @extend .item-slot-header-wrapper;
  justify-content: space-between !important;
}

.item-slot-info-wrapper {
  @apply inline-flex items-center justify-between;
}

.item-slot-currency-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 3px;
  p {
    font-size: 14px;
    text-shadow: 0.1vh 0.1vh 0 rgba(0, 0, 0, 0.7);
  }
}

.item-slot-price-wrapper {
  @apply flex flex-row justify-end text-xs bg-dark/0 px-1 rounded-md;

  @screen 2k {
    @apply text-sm;
  }
}

.tooltip-wrapper {
  @apply flex flex-col bg-dark border border-zinc-700 rounded-md pointer-events-none z-30;

  width: 200px;
  padding: 8px;
  min-width: 200px;
  color: $textColor;
  font-family: $mainFont;

  p {
    font-size: 14px;
    font-weight: 400;
  }
}

.tooltip-header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  p {
    font-size: 15px;
    font-weight: 400;
  }
}

.tooltip-crafting-duration {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  svg {
    padding-right: 3px;
  }
  p {
    font-size: 14px;
  }
}

.tooltip-ingredients {
  padding-top: 5px;
}

.tooltip-ingredient {
  display: flex;
  flex-direction: row;
  align-items: center;
  img {
    width: 28px;
    height: 28px;
    padding-right: 5px;
  }
}

// hotbar
.hotbar-container {
  @apply flex items-center justify-center gap-1 w-full absolute bottom-4;
}

.hotbar-item-slot {
  @extend .inventory-slot;
  @apply bg-zinc-800 bg-opacity-70;

  &:hover {
    @apply bg-opacity-60;
  }

  width: $gridSize;
  height: $gridSize;
  z-index: 2;
}

.hotbar-slot-header-wrapper {
  @apply flex flex-row justify-between p-0.5;
}

// item notifications

.item-notification-container {
  display: flex;
  overflow-x: scroll;
  flex-wrap: nowrap;
  gap: 2px;
  position: absolute;
  bottom: 20vh;
  left: 50%;
  width: 100%;
  margin-left: calc(50% - calc($gridSize/2));
  transform: translate(-50%);
}

.item-notification-action-box {
  width: 100%;
  color: $textColor;
  background-color: $secondaryColor;
  text-transform: uppercase;
  text-align: center;
  border-top-left-radius: 0.25vh;
  border-top-right-radius: 0.25vh;
  font-family: $mainFont;
  p {
    font-size: 11px;
    padding: 2px;
    font-weight: 600;
  }
}

.item-notification-item-box {
  @extend .inventory-slot;
  @apply bg-dark bg-opacity-50 py-1;

  &:hover {
    @apply bg-opacity-40;
  }

  height: $gridSize;
  width: $gridSize;
}

.durability-bar {
  background: rgba(0, 0, 0, 0.5);
  height: 3px;
  overflow: hidden;
}

.weight-bar {
  background: rgba(0, 0, 0, 0.4);
  border: 1px inset rgba(0, 0, 0, 0.1);
  height: 0.8vh;
  border-radius: 5%;
  overflow: hidden;
}

.transition-fade-enter {
  opacity: 0;
}

.transition-fade-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}

.transition-fade-exit {
  opacity: 1;
}

.transition-fade-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}

.transition-slide-up-enter {
  transform: translateY(200px)
}

.transition-slide-up-enter-active {
  transform: translateY(0px);
  transition: all 200ms;
}

.transition-slide-up-exit {
  transform: translateY(0px);
}

.transition-slide-up-exit-active {
  transform: translateY(200px);
  transition: all 200ms;
}

.inventory-control__button {
  @apply w-28 h-14 inline-flex items-center justify-center text-sm rounded-md bg-dark text-center transition-colors duration-150 border border-transparent;

  @screen 2k {
    @apply w-32 h-20;
  }

  @screen 4k {
    @apply w-40 h-32;
  }

  &:hover {
    @apply bg-zinc-900/50 border-gray-400/50;
  }

  svg {
    @apply h-6 w-6 text-gray-400;
  }

  &--close {
    svg {
      @apply text-red-500;
    }

    &:hover {
      @apply border-red-500;
    }
  }

  &--use {
    svg {
      @apply text-gray-400;
    }

    &:hover {
      @apply border-gray-400;
    }
  }
}

.bar-icon {
  svg {
    @apply h-5 w-5 text-gray-800;
  }
}